﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using System.Web.Helpers;

<style>
    tr {
        margin-block: 2pt
    }
    td {
        text-align: center;
        padding-inline: 1rem;
    }
</style>
<header>
    Welcome
</header>
<body class="text-left">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>

    <div class="d-flex flex-row justify-content-between">

        <div>
            <table>
                <tr>
                    <td>#Cluster</td>
                    <td>#Elementi</td>
                    <td>Color</td>
                </tr>



                @for (var i = 0; i < Model.numClusters; ++i)
                {
                    
                    <tr>
                        <td>
                            @i.ToString()
                        </td>
                    
                        <td>
                            @Model.clustering.Where(j => j.ToString().Equals(i.ToString() )).Count()
                        </td>
                        <td class="fw-bolder" style="background-color: @Model.bgColors[i]" ></td>
                    </tr>
                    Console.WriteLine("");
                }
            </table>
        </div>

        

        


        <div>

            <canvas id="ctx" height="400" width="600"></canvas>
            <script>

                var numClusters = @(Model.numClusters);
                var numElems = @(Model.rawData.Length);

                var bgColors = ['rgb(172, 101, 73)', 'rgb(238, 24, 250)', 'rgb(224, 142, 128)', 'rgb(50, 67, 160)', 'rgb(247, 58, 37)']


                var dataset = [
                @for (var i = 0; i < Model.numClusters; i++)
                {
                    @Html.Raw("{label: 'Cluster " + i + "', data: [")
                    ;
                    @for (int j = 0; j < Model.rawData.Length; j++)
                    {
                        @if (Model.clustering[j] == i)
                        {
                            @Html.Raw("{x: " + Model.rawData[j][0].ToString().Replace(',','.')  + ",y: "+ Model.rawData[j][1].ToString().Replace(',','.') +"},")
                        }

                    }
                    @Html.Raw("], backgroundColor: bgColors["+ i +"]},")
                    ;
                    @Html.Raw("{data: [{x: " + Model.means[i][0].ToString().Replace(',','.') + ",y: " + Model.means[i][1].ToString().Replace(',','.') + "},], borderColor: bgColors["+ i +"], borderWidth: 2, pointRadius: 5, pointStyle: 'crossRot', pointHoverRadius: 5},")
                }

                                                                                ]


                var chart = new Chart(ctx, {
                    type: 'scatter',
                    data: {
                        datasets: dataset
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                gridLines: {
                                    drawOnChartArea: false
                                }
                            }],
                            yAxes: [{
                                gridLines: {
                                    drawOnChartArea: false
                                }
                            }]
                        },
                        legend: {
                            display: false,
                        },

                    }
                });
            </script>

        </div>

    </div>

</body>